.input-box {
  position: relative;
  display: flex;
  flex-direction: column;
}

.input {
  font-size: 2.4rem;
  border-radius: 16px;
  border: none;
  padding: 1.2rem 2.4rem;
}

.input:focus {
  outline: 1px solid #000;
}

.input:-webkit-autofill,
.input:-webkit-autofill:hover,
.input:-webkit-autofill:focus,
.input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 30px #fff inset;
}

.forgot {
  font-size: 1.4rem;
  margin: 1.2rem;
  cursor: pointer;
}

.error {
  border: 1px solid #eb2f06 !important;
  /* background-color: rgba(255, 0, 0, 0.3) !important; */
}

.error:focus {
  outline: 1px solid #eb2f06 !important;
  /* background-color: rgba(255, 0, 0, 0.3) !important; */
}

.error-text {
  color: #eb2f06 !important;
  font-size: 1.4rem;
  margin: 1.2rem 0 0 1.2rem;
}
