.box {
  padding: 0 2.4rem;
}

.section {
  max-width: 120rem;
  color: #ebebeb;
  margin: 0 auto;
}

.heading {
  color: #ebebeb;
}

.profile-section {
  background-color: rgba(0, 0, 0, 0.6);
  color: #ebebeb;
  /* padding: 0 2.4rem; */
}

.profile-box {
  max-width: 120rem;
  display: flex;
  align-items: center;
  padding: 4.8rem 2.4rem;
  margin: 0 auto 9.6rem auto;
}

.img {
  width: 14.8rem;
  margin-right: 4.8rem;
}

.email {
  font-size: 2.4rem;
  margin-bottom: 2.4rem;
}

.joined-box {
  display: inline-block;
  margin-bottom: 2.4rem;
}

.joined-box div:first-child {
  margin-bottom: 1.2rem;
}

.joined {
  display: inline-block;
  font-size: 1.6rem;
  margin-right: 1.2rem;
  color: rgba(235, 235, 235, 0.7);
}

.joined-date {
  font-size: 1.6rem;
}

.logout {
  font-family: inherit;
  display: block;
  color: #ebebeb;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: inherit;
  border-radius: 33px;
  border: 1px solid #ebebeb;
  padding: 1rem 3rem;
  transition: all 0.3s;
  cursor: pointer;
  margin: auto 0;
}

.logout:hover {
  color: #000;
  border: 1px solid transparent;
  background-color: #ebebeb;
}

@media (max-width: 33.4em) {
  .profile-box {
    flex-direction: column;
    text-align: center;
  }

  .img {
    margin-right: 0;
    margin-bottom: 3.6rem;
  }

  .joined-box {
    display: block;
    margin-bottom: 3.6rem;
  }

  .joined {
    display: block;
    margin: 0 auto;
  }

  .logout {
    display: inline-block;
    margin-left: 0;
  }
}
