.box {
  width: 100%;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  background-color: rgba(0, 0, 0, 0.7);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 100;
}

.heading {
  font-size: 2.4rem;
  user-select: none;
  text-align: center;
}

.form {
  max-width: 48rem;
  display: flex;
  flex-direction: column;
  gap: 6.4rem;
  background-color: #ebebeb;
  border-radius: 22px;
  padding: 4.8rem;
}

.form div {
  position: relative;
  display: flex;
  flex-direction: column;
}

.form div label {
  font-size: 1.8rem;
  margin-bottom: 1.2rem;
  user-select: none;
}

.form div input {
  font-size: 2.4rem;
  border-radius: 16px;
  border: none;
  padding: 1.2rem 2.4rem;
}

.form div input:focus {
  outline: 1px solid #000;
}

.forgot {
  font-size: 1.2rem;
  margin: 1.2rem;
  cursor: pointer;
}

#icon {
  color: #ebebeb;
  position: absolute;
  top: 6.4rem;
  right: 6.4rem;
  font-size: 4.6rem;
  cursor: pointer;
}

.btn {
  width: 100%;
  display: inline-block;
  color: #ebebeb;
  font-size: 2.2rem;
  text-decoration: none;
  background-color: #b71e25;
  border-radius: 33px;
  border: none;
  padding: 1rem 3rem;
  margin-top: 3.6rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #6e1216;
}

.error {
  border: 1px solid #eb2f06 !important;
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.error:focus {
  outline: 1px solid #eb2f06 !important;
  background-color: rgba(255, 0, 0, 0.3) !important;
}

.error-text {
  position: absolute;
  bottom: -2rem;
  color: #eb2f06 !important;
  font-size: 1.2rem;
  margin: 6px 1.2rem 1.2rem 1.2rem;
  transform: translateY(100%);
}
