.box {
  max-width: 48rem;
  background-color: #ebebeb;
  border-radius: 22px;
  padding: 4.8rem;
}

.heading {
  font-size: 2.4rem;
  user-select: none;
  text-align: center;
  margin-bottom: 3.6rem;
}

.btn {
  width: 100%;
  display: inline-block;
  color: #ebebeb;
  font-size: 2.2rem;
  text-decoration: none;
  background-color: #b71e25;
  border-radius: 33px;
  border: none;
  padding: 1rem 3rem;
  margin-top: 3.6rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:hover {
  background-color: #6e1216;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  user-select: none;
  color: black;
  background-color: rgb(54, 54, 54);
}
