.box {
  max-width: 48rem;
  background-color: #ebebeb;
  border-radius: 22px;
  padding: 4.8rem;
}

.heading {
  color: #181818;
  font-size: 2.4rem;
  user-select: none;
  text-align: center;
  margin-bottom: 9.6rem;
}

.btns {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.2rem;
}

.btn {
  font-family: inherit;
  width: 100%;
  display: inline-block;
  color: #ebebeb;
  font-size: 2.2rem;
  text-decoration: none;
  background-color: #b71e25;
  border-radius: 33px;
  border: none;
  padding: 1rem 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.btn:first-child {
  color: #181818;
  background-color: transparent;
  border: 2px solid #181818;
}

.btn:first-child:hover {
  /* color: #ebebeb; */
  background-color: #d4d4d4;
  border: 2px solid transparent;
}

.btn:hover {
  background-color: #6e1216;
}

.btn:disabled,
.btn:disabled:hover,
.btn:disabled:active {
  user-select: none;
  color: black;
  background-color: rgb(54, 54, 54);
}
