.box {
  padding: 3.6rem 2.4rem;
  /* margin-bottom: 4.8rem; */
}

.section {
  max-width: 140rem;
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo {
  color: #ebebeb;
  font-size: 2.6rem;
  cursor: default;
  user-select: none;
  cursor: pointer;
  border-bottom: 1px solid #ebebeb;
}

.nav {
  display: flex;
  align-items: center;
  gap: 1.8rem;
}

.nav-item {
  font-family: inherit;
  display: inline-block;
  color: #ebebeb;
  font-size: 1.6rem;
  text-decoration: none;
  background-color: inherit;
  border-radius: 33px;
  border: none;
  padding: 1rem 3rem;
  transition: all 0.3s;
  cursor: pointer;
}

.nav-item:hover {
  font-family: "Geologica", sans-serif;
  color: #fff;
  background-color: #161616;
}

.sign-up {
  margin-right: 2.4rem;
  background-color: #b71e25;
}

.sign-up:hover {
  background-color: #6e1216;
}

.active {
  border-bottom: 2px solid #b71e25;
}

#icon {
  font-size: 4.2rem;
  color: #ebebeb;
}

@media (max-width: 58.4em) {
  .nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.8rem;
    margin-top: 4.8rem;
  }

  .sign-up {
    margin-right: 0;
    background-color: #b71e25;
  }
  .hidden {
    display: none;
  }
}
