.box {
  margin-bottom: 8.2rem;
}

.heading-one {
  display: inline-block;
  font-size: 2.8rem;
  margin: 0 1.2rem 3.6rem 0;
}

.length {
  color: #b71e25;
  font-size: 3.2rem;
  font-weight: 500;
}

.movies-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}

.movie-item {
  position: relative;
  cursor: pointer;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border-radius: 6px;
  overflow: hidden;
}

.movie-item:hover {
  transform: scale(1.1);
}

.heading-two {
  font-size: 2.2rem;
}

.release {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.rating {
  display: flex;
  align-items: stretch;
  gap: 4px;
  font-size: 1.4rem;
}

#star-icon {
  font-size: 1.6rem;
  color: gold;
}

.movie-text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 1.2rem 2.6rem 1.2rem;
  z-index: 10;
  overflow: hidden;
}

.poster {
  width: 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );
}

@media (max-width: 58.4em) {
  .movies-box {
    gap: 3.6rem;
  }

  .movie-text-box {
    padding: 0 1rem 2rem 1rem;
  }

  .heading-two {
    font-size: 1.8rem;
  }

  .release {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .rating {
    font-size: 1.2rem;
  }

  #star-icon {
    font-size: 1.4rem;
    color: gold;
  }
}

@media (max-width: 46em) {
  .movies-box {
    /* display: grid; */
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding: 0 3.6rem;
  }

  .movie-text-box {
    padding: 0 1.2rem 2.6rem 1.2rem;
  }

  .heading-two {
    font-size: 2.2rem;
  }

  .release {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .rating {
    font-size: 1.4rem;
  }

  #star-icon {
    font-size: 1.6rem;
    color: gold;
  }
}

@media (max-width: 33.4em) {
  .movies-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 4.8rem;
    padding: 0 7.2rem;
  }

  .movie-text-box {
    padding: 0 1.2rem 2.6rem 1.2rem;
  }

  .heading-two {
    font-size: 2.2rem;
  }

  .release {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .rating {
    font-size: 1.4rem;
  }

  #star-icon {
    font-size: 1.6rem;
    color: gold;
  }
}

.box {
  margin-bottom: 8.2rem;
}

.heading-one {
  display: inline-block;
  font-size: 2.8rem;
  margin: 0 1.2rem 3.6rem 0;
}

.length {
  color: #b71e25;
  font-size: 3.2rem;
  font-weight: 500;
}

.movies-box {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 4.8rem;
}

.movie-item {
  position: relative;
  cursor: pointer;
  box-shadow: 0 16px 16px rgba(0, 0, 0, 0.2);
  transition: transform 0.3s;
  border-radius: 6px;
  overflow: hidden;
}

.movie-item:hover {
  transform: scale(1.1);
}

.heading-two {
  font-size: 2.2rem;
}

.release {
  font-size: 1.4rem;
  margin-bottom: 1.2rem;
}

.rating {
  display: flex;
  align-items: stretch;
  gap: 4px;
  font-size: 1.4rem;
}

#star-icon {
  font-size: 1.6rem;
  color: gold;
}

.movie-text-box {
  position: absolute;
  bottom: 0;
  left: 0;
  padding: 0 1.2rem 2.6rem 1.2rem;
  z-index: 10;
  overflow: hidden;
}

.poster {
  width: 100%;
  cursor: pointer;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 1)
  );
}

@media (max-width: 58.4em) {
  .movies-box {
    gap: 3.6rem;
  }

  .movie-text-box {
    padding: 0 1rem 2rem 1rem;
  }

  .heading-two {
    font-size: 1.8rem;
  }

  .release {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }

  .rating {
    font-size: 1.2rem;
  }

  #star-icon {
    font-size: 1.4rem;
  }
}

@media (max-width: 46em) {
  .movies-box {
    grid-template-columns: repeat(2, 1fr);
    gap: 4.8rem;
    padding: 0 3.6rem;
  }

  .movie-text-box {
    padding: 0 1.2rem 2.6rem 1.2rem;
  }

  .heading-two {
    font-size: 2.2rem;
  }

  .release {
    font-size: 1.4rem;
    margin-bottom: 1.2rem;
  }

  .rating {
    font-size: 1.4rem;
  }

  #star-icon {
    font-size: 1.6rem;
  }
}

@media (max-width: 33.4em) {
  .movies-box {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .movie-item {
    width: 22rem;
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    box-shadow: none;
    background-color: rgba(0, 0, 0, 0.6);
    box-shadow: 0 12px 22px rgba(0, 0, 0, 0.3);
  }

  .poster {
    width: 100%;
    cursor: pointer;
    order: -1;
  }

  .movie-text-box {
    position: relative;
  }

  .overlay {
    display: none;
  }
}
