.form {
  position: relative;
  display: flex;
  align-items: center;
}

.input {
  font-family: inherit;
  width: 13rem;
  font-size: 1.6rem;
  border: 1px solid #161616;
  border-radius: 28px;
  background-color: #ebebeb;
  padding: 1.2rem 2.4rem;
  transition: all 0.3s cubic-bezier(0, -0.01, 0, 1.05);
}

.input:focus {
  width: 36rem;
  outline: none;
}

@media (max-width: 67.1em) {
  .input:focus {
    width: 26rem;
  }
}

@media (max-width: 58.4em) {
  .input:focus {
    width: 36rem;
  }
}

@media (max-width: 24em) {
  .input:focus {
    width: 32rem;
  }
}
