@import url("https://fonts.googleapis.com/css2?family=Geologica:wght@400;500;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
  font-family: "Geologica", sans-serif;
}

body {
  min-height: 100vh;
  background: linear-gradient(75deg, #141414, #313131);
}

@media (max-width: 38.8em) {
  html {
    font-size: 52%;
  }
}
